body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8F0;
}

.nav-parent {
    background-color: #7A1F2A;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.logo img {
    height: 100px;
    width: auto;
    display: block;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nav-ul a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
}

.nav-ul a:hover {
    transform: translateY(-2px);
}

.book-btn {
    padding: 12px 35px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    color: #7A1F2A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.book-btn:hover {
    background-color: white;
    color: #7A1F2A;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.hero-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    /*display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1400px;
    background-color: #FFF8F0;

    margin: 0 auto;
    padding: 30px 32px 10px 32px;

    align-items: center;   /* Vertically centers both columns */
    min-height: 80vh;      /* Gives the hero enough height */
    gap: 60px;

}

.left-hero {
    max-width: 550px;
}

.left-hero p:first-child {
    color: #7A1F2A;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.left-hero h1 {
    font-family: "Sora", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #2B2B2B;
    line-height: 1.2;
    margin-bottom: 25px;
}

.left-hero p:last-child {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #666666;
    margin-bottom: 35px;
}

.menu-btn {
    padding: 15px 34px;
    background: #7A1F2A;
    color: #fff;
    border: 2px solid #7A1F2A;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(122, 31, 42, 0.25);
}

.menu-btn:hover {
    background: #681A24;
    border-color: #681A24;
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(122, 31, 42, 0.35);
}

.menu-btn:active {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(122, 31, 42, 0.2);
}


.find-btn {
    padding: 15px 34px;
    background: transparent;
    color: #7A1F2A;
    border: 2px solid #7A1F2A;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.find-btn:hover {
    background: #7A1F2A;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(122, 31, 42, 0.2);
}

.find-btn:active {
    transform: translateY(0);
}

.hero-btns {
    display: flex;
    gap: 20px;          /* Space between buttons */
    margin-left: 10px;  /* Left spacing */
    margin-top: 30px;   /* Optional: space above buttons */
    margin-bottom: 40px;
}

.right-hero img {
    width: 100%;
    max-width: 850px;
    height: auto;

    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    transition: transform 0.4s ease;
}

.right-hero {
    margin-right: 20px;
}

.right-hero img:hover {
    transform: scale(1.03);
}

#banner-header {
    color: #611822;
}

.about-parent {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    align-items: center;
    width: 100%;
    max-width: 1462px;
    margin: auto 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.about h2 {
    font-size: 40px;
    text-align: center;
}

.about-img img {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.18);
    transition: transform 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.03);
}

.about-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px;
}

.about-text {
    padding-left: px;
}

.about-text h3 {
    font-size: 45px;
    color: #7A1F2A;
}

/*signature menu*/

.sig-parent {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.menu-box {
    align-items: center;
    width: 100%;
    max-width: 1462px;
    margin: auto 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

.menu-box h2 {
    text-align: center;
    font-size: 40px;
}

.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;

    gap: 30px;
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 30px 25px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 7%;
    margin-bottom: 20px;
}

.card p {
    color: #666;
    line-height: 1.6;

    /* Pushes the price to the bottom */
    flex-grow: 1;
}

.card h2 {
    margin: 18px 0 10px;
    font-size: 24px;
    color: #2B2B2B;
}

/*why choose us*/
.wcu-section {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title p {
    color: #7A1F2A;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-title h2 {
    font-size: 42px;
    color: #2B2B2B;
    margin-top: 10px;
}

.wcu-card-container {
    display: grid;
    gap: 45px;
}

.wcu-card {
    display: grid;
    grid-template-columns: 380px 1fr;
    gap: 45px;
    align-items: center;
}

/* Automatically reverse every even card */
.wcu-card:nth-child(even) .w-img {
    order: 2;
}

.wcu-card:nth-child(even) .w-content {
    order: 1;
}

.w-img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.w-content h3 {
    font-size: 30px;
    color: #7A1F2A;
    margin-bottom: 15px;
}

.w-content p {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
}

